<section id="testimonials-wrap" class="testimonial-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="section-header col-md-12 mb-5">
                <h2 class="font-weight-bold">What are our customers saying?</h2>
                <p>Listen to some experiences of people who have used our service.</p>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12   mb-4  single-testimonial-wrap">
                <div class="card  p-3">
                    <div class="card-body">
                        <p class="mb-4"> Excellent! Now I can get 100% healthy food without getting inside the kitchen.
                            No hard work and home food, what a combination.
                        </p>
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/user1.jpeg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Asha Tejaswini</span>
                            <span class="user-designation w-75 float-right">Artist</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->

            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0  mb-4 single-testimonial-wrap">
                <div class="card  p-3">
                    <div class="card-body">
                        <p class="mb-4">Dinner Date at home with food coming from kitchen.(without knowing a single bit
                            of cooking ;) ). Exactly something that the world was missing!</p>
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/user2.jpeg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Rachit Goswamy</span>
                            <span class="user-designation w-75 float-right">Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0 mb-md-0 mb-sm-0 mb-0 single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">
                        <p class="mb-4">I Love it. The chefs are real class, they know what they are doing. I have now
                            had food that I would never have had tasted until I ordered online!</p>
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/user3.jpeg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Ronita Mohanty</span>
                            <span class="user-designation w-75 float-right">Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->

        </div>
    </div>
</section>