<section id="testimonials-wrap" class="testimonial-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="section-header col-md-12 mb-5">
                <h2 class="font-weight-bold">What are our customers saying?</h2>
                <p>Listen to some experiences of people who have used our service.</p>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12   mb-4  single-testimonial-wrap">
                <div class="card  p-3">
                    <div class="card-body">
                        <p class="mb-4"> I always wanted to know how to hire a chef to cook for me, always wondered how
                            much it costs to hire a personal chef, but with Jeera powder I got all my answers, and the
                            answers are fabulous. Its awesome and its affordable
                        </p>
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/user1.png" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Asha Tejaswini</span>
                            <span class="user-designation w-75 float-right">Artist</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->

            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0  mb-4 single-testimonial-wrap">
                <div class="card  p-3">
                    <div class="card-body">
                        <p class="mb-4">I never thought that personal chefs can be hired affordably. How wrong could I
                            have been! Dinner Date at home with food coming from kitchen, without knowing a single bit
                            of cooking. Exactly something that the world was missing!</p>
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/user2.png" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Rachit Goswamy</span>
                            <span class="user-designation w-75 float-right">Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0 mb-md-0 mb-sm-0 mb-0 single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">
                        <p class="mb-4">I Love it. The chefs are real class, they know what they are doing. Great app
                            for finding personal chefs near me. Hire a chef via an app, its an awesome concept. This app is
                            definitely going to help a lot of people.</p>
                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/user3.png" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Ronita Mohanty</span>
                            <span class="user-designation w-75 float-right">Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->

        </div>
    </div>
</section>