<app-sub-page-header></app-sub-page-header>
<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">Our Services</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="faqs-wrap p-t-b-80" id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Hiring chef made easy<br></h1>
                   
                <!-- Post Content -->
                <p>Book a professional chef to cook you a meal you desire right their in your kitchen.
                </p>
                <p> Chefs for one time meal - be it lunch or dinner.</p>
                <h4> Social dining enabled at your home</h4> 
                <p> Chefs for parties at home : <br> - chef for birthday party, <br> - chefs for hourse party, <br> - chefs for get together with friends or family or, <br> - a cocktail party </p>  
                <p>Hiring a chef was never easy. You must ask around or google to get few sites which will offer you a
                    survey based on that you get few names. You get suggestions. A lot of discussion follows and let’s
                    say you decide to go with someone. But Still can you whole heartedly trust someone to come into your
                    kitchen where your family or loved ones live.</p>


                <blockquote class="blockquote">
                    <p class="mb-0">Or</p>
                </blockquote>

                <p>You must go and look for some catering services who usually take bulk orders. Pricing and menu
                    decision is again somewhat cumbersome for a get together or a house party of few. You need to
                    arrange for them the appliances and buy ingredients which again is some trouble..</p>

                <p>We at Jeerapowder take care of you desire and some more. We get you a personalized trustworthy exotic
                    dining experience. And that also just by clicking few buttons on the JeeraPowder mobile application.
                </p>

                <p>
                    All you need to do is,
                    select a chef service best matching your need , choose the package you want and place the order.
                    Our team and the chef will take care of the rest. </p>
                <p>
                    Diverse set of chefs are displayed to you on the screen of your Jeerapowder app along. All chefs are
                    verified.
                </p>

                <p>
                    You get to choose from the lists of dishes they can prepare. You know the price then and there in
                    your cart.
                </p>

                <p>
                    Even the ingredients needed to cook them is listed out for you as pre-requirement along with the
                    quantity involved for the dish.
                </p>
                <p>
                    You can get it yourself or our representative will call and ask you if you want us to get it for
                    you. Bill for the ingredients will be shared with you and you can pay for them once you receive
                    them.
                </p>
                <p>
                    At designated time and location, our Jeerapowder chef will turn up to prepare the meal you ordered.
                </p>
                <p>
                    All this at your fingertips. This was never possible before.
                </p>
            </div>
        </div>
    </div>


</section>