<app-sub-page-header></app-sub-page-header>

<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">JP Partner</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="faqs-wrap p-t-b-80" id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Partner with us for a bright career <br><br></h1>

                <!-- Post Content -->
                <p>There is a huge demand in market where people like to hire personal chef to cook them a meal they
                    fancy in their own kitchen.
                </p>

                <p>Food delivery industry is undergoing a paradigm shift to make dining experience of an individual more
                    personal and healthier. Outside food delivery is going to be a thing of past. Chefs to hire for
                    personal experience at home is going to be the new deal.</p>

                <p>We aim to organize the resource pool of professional chefs and expert cooks.
                </p>

                <p>We at Jeerapowder are devoted towards an all-round happiness to our partners in terms of payment,
                    flexibility and work hours.</p>
                <p>We at Jeerapowder are devoted towards an all-round happiness to our partners in terms of payment,
                    flexibility and work hours.</p>

                <p>We endeavor to provide a platform for our partners where they can be their own boss. </p>
                <p>Join our team of excellent chefs and become a part of this change.</p>
                <p>You can partner with us in both full time and part time basis. For more details contact us or
                    download the partner app from play store.</p>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>

<!-- <app-contact-form></app-contact-form> -->