<div class="landing_wrap landing-gradient-purple-indigo">

    <app-header></app-header>
    <section id="intro-wrap" class="blog-details-wrap">
        <div class="blog_header p-t-b-80 ">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-white">
                        <h1 class="mt-4 text-white">JP Partner</h1>
                    </div>

                </div>
            </div>
        </div>


        <div class="container p-t-b-80">

            <div class="row">

                <div class="col-lg-8">

                    <h1 style="font-size: 40px;">Partner with us for a bright career <br><br></h1>

                    <!-- Post Content -->
                    <p style="font-size: 25px;">We at Jeerapowder are devoted towards giving an all round happiness
                        to our partners.
                    </p>

                    <p style="font-size: 20px;">Join our team of excellent chefs and become a part of this change.</p>

                    <p style="font-size: 25px;">You can partner with us in both full time and part time basis. for more
                        details contact us or downlaod the partner app from play store.
                    </p>
                    <hr>
                </div>

            </div>
            <app-contact-form></app-contact-form>
            <!-- /.row -->

        </div>

    </section>

    <!-- <app-contact-form></app-contact-form> -->
</div>