
<app-sub-page-header></app-sub-page-header>
   
    <section id="intro-wrap" class="blog-details-wrap">
        <div class="blog_header p-t-b-80 ">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-white">
                        <h1 class="mt-4 text-white">JP Partner</h1>
                    </div>

                </div>
            </div>
        </div>
    </section>      

    <section class="faqs-wrap p-t-b-80" id="faqs-wrap">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
                            <h1>Partner with us for a bright career <br><br></h1>

                            <!-- Post Content -->
                            <p>We at Jeerapowder are devoted towards giving an all round happiness
                                to our partners.
                            </p>
        
                            <p>Join our team of excellent chefs and become a part of this change.</p>
        
                            <p>You can partner with us in both full time and part time basis. for more
                                details contact us or downlaod the partner app from play store.
                            </p>	
						</div>
				</div>
		</div>          
	   
	</section>

  <app-footer></app-footer>

    <!-- <app-contact-form></app-contact-form> -->
