<section id="news-wrap" class="news-two-wrap light-gray p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Recent updates from Blog</h2>


            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-4">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                        <img class="card-img" src="./assets/images/landing/news/manChef3.png" alt="Card image">
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                            <h3 class="m-0 text-capitalize font-weight-bold">How to Hire a chef?</h3>
                            <h5 class="font-weight-light text-uppercase">by Vishwa Ranjan</h5>
                        </div>

                        <div class="font-weight-light pb-3">
                            <p>
                                Be it hosting a dinner at home, celebrating someone’s birthday, organizing a
                                get-together, partying with friends, the two most important things that make the time
                                memorable are - the mood of the party and the food of the party.</p>
                            <p> While you are busy
                                keeping it fun and happening, we prepare the food for you, tailored to your taste to
                                enhance the moment even further.
                            </p>


                            <a routerLink="/home/blog-details" class="btn  btn-gradient half-button">Read More</a>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-0">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                        <img class="card-img" src="./assets/images/landing/news/healthyFood.png" alt="Card image">
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                            <h3 class="m-0 text-capitalize font-weight-bold">Health and life</h3>
                            <h5 class="font-weight-light text-uppercase">by Shekhar Suman</h5>
                        </div>

                        <div class="font-weight-light pb-3">
                            <p>We all know, by heart and soul, that health is the ultimate wealth and good food leads to
                                good health.

                                But in our busy lives we don’t really get a chance to eat good always, especially
                                because of the time constraints. In those cases, we must resort to eating food cooked in
                                dirty kitchens.
                            </p>
                            <p>However restraunts dont really care about the hygiene as they believe in profits and only
                                profits.</p>

                            <a routerLink="/home/blog-details" class="btn  btn-gradient half-button">Read More</a>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-sm-12 mb-lg-0 mb-md-0  mb-0">
                <div class="card text-left  o-hidden">
                    <div class="card_img_left w-40 float-left">
                        <img class="card-img" src="https://assets.architecturaldigest.in/photos/600844b6eebcfd50ede87893/16:9/w_2560%2Cc_limit/Food-trends-dining-2021-covid-1366x768.jpg" 
                        alt="These will be the biggest food and dining trends of 2021">
                    </div>

                    <div class="card_right_content w-60 p-3 float-right">
                        <div class="pt-3 pb-4">
                            <h3 class="m-0 text-capitalize font-weight-bold">Biggest food and dining trends of 2021</h3>
                            <!-- <h5 class="font-weight-light text-uppercase">by Shekhar Suman</h5> -->
                        </div>

                        <div class="font-weight-light pb-3">
                            <p>No one could have predicted the way 2020 played out.
                                 So forecasting how people will eat and drink in 2021 isn't quite the same as before.
                                 We spoke to restaurateurs and chefs for some pointers on what will take off and what will fade into obscurity in a post-COVID-19 world.
                            </p>
                            <h2>At-Home Dining
                                </h2>
                            <p>Exclusively curated home experiences are predicted to move to the to the forefront in 2021</p>

                            <a class="btn  btn-gradient half-button"
                            href="https:/www.architecturaldigest.in/content/will-biggest-food-dining-trends-2021">Read More</a>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->

        </div>

    </div>
</section>