
<app-sub-page-header></app-sub-page-header> 
    <section id="intro-wrap" class="blog-details-wrap">
        <div class="blog_header p-t-b-80 ">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-white">
                        <h1 class="mt-4 text-white">Careers at Jeerapowder</h1>
                    </div>

                </div>
            </div>
        </div>


        <!-- <div class="container p-t-b-80">
            <div class="row">
                <div class="col-lg-8">
                    
                    <p style="font-size: 25px;">Currently we do not have any open positions.
                    </p>
                    <p style="font-size: 15px;">Be on lookout at this page for upcoming career opportunities.
                    </p>

                    <hr>
                </div>

            </div>
        

        </div> -->

    </section>
    <!-- <app-footer></app-footer> -->
    <!-- <app-contact-form></app-contact-form> -->
