.blog-details-wrap {
    .blog_header {
        padding: 120px 0px 60px;
        background: url('/assets/images/landing/header/banner.png') center no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:cover;
        overflow: hidden;
        position: relative;
        
    }
}
