<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">

            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">Jeerapowder</h4>
                        <p class=""> Hire a chef to cook you a ravishing meal in your own kitchen.</p>
                        <p>© 2019 Softgami Technologies Pvt. Ltd. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class=" ">
                        <h4 class="card-title font-weight-bold">References</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a routerLink="/home/about" routerLinkActive="active">About us</a>
                                </li>
                                <li class=" mb-3 "><a href="./assets/policies/TERMS OF USE JeeraPowder V1.1.pdf"
                                        target="_blank">Terms of use</a>
                                </li>
                                <li class="mb-3"> <a href="./assets/policies/PRIVACY POLICY- JeeraPowder V1.0.pdf"
                                        target="_blank"> Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">



                    <div class=" ">
                        <h4 class="card-title font-weight-bold">Other Links</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a routerLink="/home/career" routerLinkActive="active">Carrers</a>
                                </li>
                                <li class=" mb-3 "><a routerLink="/home/partner" routerLinkActive="active">JP
                                        Partner</a>
                                </li>
                                <li class="mb-3"> <a routerLink="/home/support" routerLinkActive="active"> Support
                                        Center</a>
                                </li>
                                <li class="mb-3"> <a routerLink="/home/all-faqs" routerLinkActive="active">FAQ </a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end of col -->
            <!-- <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Oth</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Minimal
                                </li>
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Intuitive
                                </li>


                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> Super
                                    Flexible</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div> -->
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Contact Info</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Bangalore</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>business@jeerapowder.com</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +91-7337367761</li>

                            </ul>
                        </div>


                        <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0"
                                    href="https://www.facebook.com/JeeraPowderOfficial/" target="_blank"><i
                                        class="eva eva-facebook"></i></a>

                                <a class="social-btn text-30 twitter" href="https://twitter.com/JeeraPowder"
                                    target="_blank"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google"
                                    href="https://www.instagram.com/jeerapowderofficial/" target="_blank"><i
                                        class="eva eva-google"></i></a>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>