<section id="teams-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h2 class="font-weight-bold">Meet a few of our chefs</h2>
                <p>We have a wide array of curated and verified chefs who are well experinced in what they cook. Be it
                    any cuisine you want to eat today, we are there for you.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/chef1.jpeg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Sk. Ajiz</h5>
                        <p class="mt-0">Chinese Cuisines Expert</p>
                        <p>Ajiz is an expert in chinese delicacies. Sauces are his forté. His Chicken Manchurian is mind
                            blowing.
                        </p>
                        <!-- <button class="btn btn-gradient half-button">Contact Jhon</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/chef2.jpeg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Sarfaraz</h5>
                        <p class="mt-0">Indian and Chinese Dishes.</p>
                        <p>A dynamic and proficient chef with magic in his fingers when it comes to indian spices and
                            breads.</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/chef3.jpeg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Alauddin Khan</h5>
                        <p class="mt-0">Biryani and Indian Delicacies</p>
                        <p>Biryani is his thing. Be it Lucknowi Biryani, Awadhi or the mighty Hyderbadi,
                            he has got it all in his bucket.</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0  ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/chef4.jpeg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Gaddam Satish</h5>
                        <p class="mt-0">Continental Chef.</p>
                        <p>A gentleman and a master of culinary arts. His skill in the continental cuisine is
                            unmatchable.</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>