<section id="teams-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h2 class="font-weight-bold">Meet our Chefs</h2>
                <p>We have a wide array of curated and verified chefs who are well experinced in what they cook. Be it
                    any cuisine you want to eat today, we are there for you.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/15.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Devendra</h5>
                        <p class="mt-0">North Indian Expert</p>
                        <p>Devendera is expert in north indian delicacies. His chicken butter masala is mind blowing.
                        </p>
                        <!-- <button class="btn btn-gradient half-button">Contact Jhon</button>
                        <div class="card-socials-simple mt-4">

                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-google google"></i>
                            </a>
                            <a href="" class="text-20 mr-2">
                                <i class="eva eva-facebook facebook"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/12.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Karunakar</h5>
                        <p class="mt-0">South Indian Dishes</p>
                        <p>His family says he has magic in his figers when it comes to spices.</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/16.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Dinesh</h5>
                        <p class="mt-0">Continental Expert</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.test tesxt text text text</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0  ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/5.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Ajay</h5>
                        <p class="mt-0">Chinese Expert</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>