<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Who are we?</h2>
                <p>We provide a platform for you to hire a personal chef to come to your home and cook for you, a
                    DELICIOUS MEAL. Be it to hire a personal chef for a night meal or hiring a personal chef for a day
                    Jeera Powder is there for you.</p>

            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/whyus1.png">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Stay Healthy & FIT</h3>
                        <p class="card-text">When you hire a private chef, you get to choose your own ingredients with
                            love for your family and off-course, for yourself. It's time you take your health in your
                            own hands.
                        </p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>


            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/whyus2.png">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Choose your own menu</h3>
                        <p class="card-text">A chef for hire option gives you the freedom to choose your own healthy
                            menu. Want to hire a chef for a party? Hire a chef for a healthy meal for our family?
                            Choose accordingly.</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/whyus3.png">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">At Unbelievable Costs</h3>
                        <p class="card-text">Always thought that hiring a private chef cost is high? Time to rethink
                            that notion. Home foods cooked in home was never possible, let alone this affordable.</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/whyus4.png">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Ease</h3>
                        <p class="card-text">Personal chef services were never this easy. Let all the complexity be on
                            us and enjoy excellent food cooked in your own kitchen. Lot better than
                            home food delivery, Isn't it?</p>

                    </div>
                    <!-- <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div> -->
                </div>
            </div>
            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services6.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Service Five</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        
                    </div>


                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->

            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services14.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Service Six</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0 mb-md-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services15.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Service Seven</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden  mb-lg-0 mb-md-0">
                     <div class="card-header p-5 text-center">
                        <i class="eva eva-save-outline"></i>
                    </div> 
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services16.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Servcie Eight</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div> -->



        </div>

    </div>

</section>