<section class="right-image-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">How it works?</h2>
                <p>You can hire a chef to cook you a delicious meal in your kitchen. Just follow the following easy
                    steps.</p>

            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row m-0">
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card" [ngClass]="{highlightCard: isSelected===1}">

                            <div class="card-body d-flex pt-4 pb-4 ">
                                <!-- <div class="mr-2">
                                    <i class="eva eva-pie-chart-outline mr-1 text-36 "></i>
                                </div> -->
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Search
                                    </h4>
                                    <p class="m-0">Choose from a list of all the chefs available near your location in
                                        the selected time and date.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card" [ngClass]="{highlightCard: isSelected===2}">

                            <div class="card-body d-flex pt-4 pb-4">
                                <!-- <div class="mr-2"><i class="eva eva-clock-outline mr-1 text-36 "></i></div> -->
                                <div class="">
                                    <h4 class="card-title font-weight-bold"> Select</h4>
                                    <p class="m-0">Select all the dishes you would like the chef to cook and the number
                                        of people he will cook for.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0 mb-sm-0">
                        <div class="card" [ngClass]="{highlightCard: isSelected===3}">

                            <div class="card-body d-flex pt-4 pb-4">
                                <!-- <div class="mr-2"><i class="eva eva-lock-outline mr-1 text-36 "></i></div> -->
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Book</h4>
                                    <p class="m-0">Check for the ingredients/appliances needed for the dishes and
                                        complete the booking.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->
                    <div class="col-md-6 col-sm-6 mb-0 mb-lg-0 mb-md-0 mb-sm-0">
                        <div class="card" [ngClass]="{highlightCard: isSelected===4}">

                            <div class="card-body d-flex pt-4 pb-4">
                                <!-- <div class="mr-2"><i class="eva eva-pricetags-outline mr-1 text-36 "></i></div> -->
                                <div class="">
                                    <h4 class="card-title font-weight-bold">Enjoy
                                    </h4>
                                    <p class="m-0">The chef will reach your home at the selected time and cook you the
                                        dishes you chose.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end of col  -->

                </div>
            </div>
            <!-- end of col6 row -->
            <div class="col-md-12 col-lg-5 col-sm-12 offset-lg-1">

                <ngu-carousel #myCarousel [inputs]="carouselTile" (onMove)="onmoveFn($event)"
                    [dataSource]="carouselTileItems">
                    <ngu-tile *nguCarouselDef="let item; let i = index">


                        <img class="img-responsive  mb-4 " [src]="item.photo" alt="Card image cap">

                    </ngu-tile>

                    <button NguCarouselPrev
                        class="ngu_control_button half-button left-butt leftRs btn btn-circle btn-white btn-shadow"
                        (click)="setCounter()" [disabled]="isLeftButtonDisabled"><i
                            class="eva eva-chevron-left-outline"></i></button>
                    <button NguCarouselNext
                        class="ngu_control_button half-button  rightRs btn btn-circle btn-white btn-shadow"
                        [disabled]="isRightButtonDisabled"><i class="eva eva-chevron-right-outline"></i></button>
                </ngu-carousel>
            </div>

        </div>
    </div>
</section>