<section class="faqs-wrap p-t-b-80 " id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Faqs</h2>
                <p>Following are some frequently asked questions.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4 mb-lg-0 mb-md-0  mb-4">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
                    <ngb-panel title="I don’t see any chefs around my location">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                We are constantly working on growing our fleet of chefs, but unfortunately to curate the
                                bests it takes some time. Bear with us, and keep checking your app. We are
                                adding new chefs everyday.
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Are the chefs displayed on app are verified?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                Yes, we perform background verification before onboarding a chef to our platform. Same
                                is displayed in his/her profile.
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="What kind of chefs are available here?">
                        <ng-template ngbPanelContent>
                            <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                We connect you to professional, experienced, well behaved and skilled chefs of all
                                different cooking styles and specialties. Spread of chef’s Cuisines specialty are
                                diverse such as Italian, Continental, Chinese, Thai, Japanese, Indian etc.
                                We are connected to Chefs with specialty of cooking Indian regional cuisines such as
                                Punjabi, Gujrati, Rajasthani, South Indian etc.

                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <div class="see-more">see more..</div>
            </div>
            <!-- end of col -->
            <div class="col-md-5 offset-md-1 col-sm-12 d-flex align-items-center">

                <img src="./assets/images/landing/svg/faqs2.svg" class="img-responsive w-100" alt="">
            </div>
        </div>
    </div>
</section>