<app-sub-page-header></app-sub-page-header>
<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">About us</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="faqs-wrap p-t-b-80" id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>There is no love sincerer than the love of food. <br><br></h1>

                <!-- Post Content -->
                <p>We help you maintain your sincerity for food love easy, simple, safe and intact.
                </p>

                <p>We provide chef services using Jeerapowder mobile application based on location and time. We make
                    hiring chef, for a meal or a get together or a house party or an exotic personal dining experience
                    with date, possible without an extra effort.</p>

                <blockquote class="blockquote">
                    <p class="mb-0">There is no love sincerer than the love of food.</p>
                    <footer class="blockquote-footer">Anonymous,
                    </footer>
                </blockquote>

                <p>We relate to diverse fleet of chefs who are willing to cater their expertise in people's kitchen.
                </p>

                <p>
                    All you need to do is,
                    select a chef from your location, choose the dishes you want and place the order.
                    Our team and the chef will take care of the rest. </p>
                <p>
                    Your food is our concern.
                </p>
            </div>
        </div>
    </div>


</section>

<app-footer></app-footer>