<app-sub-page-header></app-sub-page-header>    
    <section id="intro-wrap" class="blog-details-wrap">
        <div class="blog_header p-t-b-80 ">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-white">
                        <h1 class="mt-4 text-white">About us</h1>
                    </div>

                </div>
            </div>
        </div>
    </section>              
            
                    <section class="faqs-wrap p-t-b-80" id="faqs-wrap">
                        <div class="container">
                                <div class="row">
                                        <div class="col-lg-12">
                                                <h1 >Focusing On What Matters Most <br><br></h1>
            
                                                <!-- Post Content -->
                                                <p >We at Jeerapowder are devoted to give you a new dining
                                                    experience in which the
                                                    ingredients would be yours, so will be the setup, but cooking expertise would be ours, tested,
                                                    accepted and loved.
                                                </p>
                            
                                                <p>Be it a dinner date at the placidity of your own house or a small family
                                                    gathering, let the
                                                    cooking be on us.</p>
                            
                            
                            
                                                <blockquote class="blockquote">
                                                    <p class="mb-0">The thought in itself is excellent and execution, even better. Finally, I found
                                                        an escape from outside unhealthy food.</p>
                                                    <footer class="blockquote-footer">Roushan Ranjan,
                                                        <cite title="Source Title">Teacher</cite>
                                                    </footer>
                                                </blockquote>
                            
                                                <p >With a brigade of chefs at your disposal who are expert in intricacies
                                                    of multiple cuisines, be it Indian or Continental, Chinese or Mexican get ready to enjoy the
                                                    bests of food preparations with the utmost confidence of quality of ingredients used, as they
                                                    are from your own kitchen!
                                                </p>
                                        </div>
                                </div>
                        </div>
            
                       
                    </section>
                 
   <app-footer></app-footer>
        
