<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">How to hire a chef?</h1>


                    <p class="lead text-white">
                        by Vishwa Ranjan
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container p-t-b-80">

        <div class="row">

            <div class="col-lg-8">

                <!-- Post Content -->
                <p class="lead">Hire a chef to help you serve the delicious food to your loved ones- cooked with the
                    expertise of professionals while keeping your personal and unique taste preferences in
                    mind.
                </p>

                <p>
                    Jeerapowder provides you a platform which curates and caters your dining needs. Home
                    made food does not always have to be simple and similar. Jeerapowder helps you with the
                    expertise in your kitchen to make the daily meal, a special and exotic one.

                </p>
                <p>
                    Personal chef to hire within reasonable price range is a dream come true. This all just
                    by merely following 6 simple steps from the comfort of your couch or bed.
                </p>
                <p>
                    1.)Install the Jeerapowder app from the Google play store or click this link
                    https://play.google.com/store/apps/details?id=com.jeerapowder.user.

                    2.)Select time and location.

                    3.)Browse through the profiles of experts displayed.

                    4.)Pick the one you like most. Add from the menu.

                    5.)Continue to cart. Add address and apply coupon code.

                    6.) Checkout the pre-requirement to see the list of ingredients needed.Proceed to place
                    Order by making payment.
                </p>
                <p>
                    and Voila!! It is done. Now, Jeerapowder expert chef will visit your home at the given
                    time and date.
                    You just provide the ingredients and relax.Chef will take care of the rest.
                </p>

                <p>
                    You get to choose an expert chef from the list of many and that too from your
                    neighborhood.Each chef's profile contains the list of dishes which they prepare. You
                    select what you fancy.Place the order and see the magic in progress right their in your
                    kitchen.
                </p>
                <hr>
         

                
               

            </div>

            <!-- end of col-8 -->
            <div class="col-md-4">


                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control rounded-pill" placeholder="Search for...">
                            <span class="input-group-btn ml-2">
                                <button class="btn  btn-gradient" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end of card widget -->


               


                
                <!-- end of card widget -->

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</section>