<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">How to hire a chef?</h1>
                    <p class="lead text-white">
                        by Vishwa Ranjan
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-t-b-80">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post Content -->
                <p class="lead">Hire a chef to help you serve the delicious food to your loved ones- cooked with the
                    expertise of professionals while keeping your personal and unique taste preferences in
                    mind.
                </p>

                <p>
                    Jeerapowder provides you a platform which curates and caters your dining needs. Home
                    made food does not always have to be simple and similar. Jeerapowder helps you with the
                    expertise in your kitchen to make the daily meal, a special and exotic one.
                </p>
                <p>
                    Personal chef to hire within reasonable price range is a dream come true. This all just
                    by merely following 6 simple steps from the comfort of your couch or bed.
                </p>
                <p>
                    1.)Install the Jeerapowder app from the Google play store or click this link ->  
                    <a href="https://play.google.com/store/apps/details?id=com.jeerapowder.user">
                        <img  style="color:blue;width:42px;height:42px;" src="./assets/images/icon_jpuser.png"
                            alt="Download Jp App"></a>.
                </p>
                <p>

                    2.)Select the service from the list of services, chef hire for one time meal or book a chef for a week or fortnight, as per your chef need.
                </p>
                <p>
                    3.)Browse through the packages under each service.Select the one you like most. 
                </p>
                <p>
                    4.) Continue to select date and time.
                </p>
                <p>
                    5.)Continue and add address.
                </p>
                <p>
                    6.) Review booking. Check the required ingredients and appliances needed in your kitchen by addng the dishes.
                </p>
                <p>
                    7.) Apply Coupon to get discounts.
                </p>
                <p>
                    8.) Confirm Booking.Your booking has been done. Make the payment till the time booking starts.
                </p>
                <p>
                   ... and Voila!! It is done. Now, Jeerapowder expert chef will visit your home at the given
                    time and date.
                    You just provide the ingredients and relax.Chef will take care of the rest.
                </p>
                <p>
                    You choose a package from the list of many as per your mood and need. JP Professional chefs will prepare the dishes which you
                    fancy.
                </p>

                <p>
                    Place the order and see the magic in progress right their in your kitchen.
                </p>
                <p>
                    Stay Safe. Stay home. 
                </p>
                <p>
                    Social Dining enabled in the comfort of your home.
                </p>
                <p>
                    #SayYesToHomeCookedFood ;-)
                </p>
                <hr>
            </div>

            <!-- end of col-8 -->
            <div class="col-md-4">


                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control rounded-pill" placeholder="Search for...">
                            <span class="input-group-btn ml-2">
                                <button class="btn  btn-gradient" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>

               
                <!-- end of card widget -->


               


                
                <!-- end of card widget -->

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
    <section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">Health and life</h1>
                    <p class="lead text-white">
                        by Shekhar Suman
                    </p>
                </div>
            </div>
        </div>
    </div>
     
    <div class="container p-t-b-80">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post Content -->
            <p>We all know, by heart and soul, that health is the ultimate wealth and good food leads to
                good health.

                But in our busy lives we don’t really get a chance to eat good always, especially
                because of the time constraints. In those cases, we must resort to eating food cooked in
                dirty kitchens.
            </p>
            <p>However restraunts dont really care about the hygiene as they believe in profits and only
                profits.</p>

            <!-- <a routerLink="/home/blog-details" class="btn  btn-gradient half-button">Read More</a> -->
        </div>
    </div>
</div>
</section>