<app-sub-page-header></app-sub-page-header>
<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">Support Center</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="faqs-wrap p-t-b-80" id="faqs-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-size: 30px;">Reach us on
                </p>
                <p style="font-size: 20px;"> CONTACT DETAILS
                </p>

                <p>Call: +91 93907 12112</p>
                <div>
                    <a style="padding-right: 15px;" href="https://wa.me/919390712112" target="_blank"><img
                            src="./assets/images/landing/linksIcons/whatsapp.png"></a>
                    <a style="padding-right: 15px;" href="https://m.me/JeeraPowderOfficial" target="_blank"><img
                            src="./assets/images/landing/linksIcons/fb.png"></a>
                    <a style="padding-right: 15px;"
                        href="https://www.linkedin.com/in/softgami-technologies-private-limited-406b17197"
                        target="_blank"><img src="./assets/images/landing/linksIcons/linkedin.png"></a>
                </div>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>